

	<div class='row'>
		<div class='col-xs-4 col-xs-offset-4'>

			<%-x = ViewCounter.find_by(page_name: "home")%>

			<h1>Hello World</h1>
				
				<%- (1..x.view_count).each do |num| %> 
				<div class="section <%= num %>">
				<%= num %>
				</div>
				
				<%- end %> 
			<p>View_Count: 

			<%-x = ViewCounter.find_by(page_name: "home")%>

			<%= x.view_count %>
			</p>



			<%= link_to 'About', about_path %>
		</div>
	</div>




